<% provide(:title, "About") %>
<h1>About</h1>

<div class="row">
  <p class="col-md-8 col-md-offset-2 about_text">
    Picklepals.tools is a pickleball doubles match tracking website created by Andy Tran. 
    It&#39;s built with Rails 6 and uses PostgreSQL for its database. There were two purposes 
    for building this website: learn web development and create a skill-based ranked system 
    within my pickleball group.
  </p>
  <br>
  <div class="col-md-8 col-md-offset-2 about_text">
    The main functionalities of this site are the following:
    <ul>
      <li>Create an account to register yourself as a player</li>
      <li>Submit and store matches played</li>
      <li>Rollback incorrectly submitted matches</li>
      <li>Calculate player skill using the recorded matches and the TrueSkill rating system</li>
      <li>View match history of players and specific matchups</li>
    </ul>
  </div>
</div>
