<h1>Leaderboard</h1>
<% if @players.any? %>
  <ul class="players">
    <%= render @players %>
  </ul>
  <%= will_paginate @players,
                    params: { controller: :static_pages, action: :home } %>
<% end %>
