<li>
  <%= link_to player.name, player %>
  <% if logged_in? && current_player.admin? && !current_player?(player) %>
  | <%= link_to "deactivate", player_activation_path(player.id), method: :patch,
                                                       data: { confirm: "You sure?" } %>
  <% end %>
</li>
