.player_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  .player_name {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    word-wrap: break-word;
    display: block;
    text-align: center;
    line-height: 1em;
  }
  .player_rank {
    font-size: 40px;
    font-weight: bold;
  }
  
  .player_score_and_rating {
    font-size: 20px;
  }
}

.player_rank_1 {
  color: rgb(255, 215, 0)
}

.player_rank_2 {
  color: rgb(192, 192, 192)
}

.player_rank_3 {
  color: rgb(255, 87, 51)
}

.player_graph {
  background-color: green;
}

.player_match_history {
  margin-top: 10px
}
