// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.leaderboard {
  background-color: white;
  table-layout: fixed;
}

.leaderboard_player_name {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leaderboard_record {
  text-align: center;
}

.leaderboard_rating {
  text-align: center;
}
